.Navbar-root-2 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent !important;
    height: 128px;
    transition: .25s;
}

.navbar {
    position: fixed;
    top: 0;
    box-shadow: none !important;
    height: 100%;

    .MuiToolbar-root {
        height: 100% !important;
    }
}

.navbar-transparent {
    background-color: transparent !important;
}

.MuiToolbar-regular {
    background-color: transparent !important;
}

.navbar-active {
    background-color: #512da8 !important;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 2;
}