@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.other-auth-icon {
    font-size: 36px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.other-auth-icon-google {
    background-color: #de5246 !important;
    color: #fff;
}

.other-auth-or {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.no-match-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    a {
        margin-top: 25px;
    }
}

code {
    background-color: #ccc;
    padding: 5px 10px;
}

@media(max-width: 1200px) {
    .profile-page {
        grid-template-rows: 1fr 1.5fr !important;
        grid-template-columns: 1fr !important;
        padding: 25px 50px !important;
    }
}